*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
}
#page1 {
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2 {
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#page1 {
    width: 100%;
    height: 100%;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    width: 350px;
    height: 350px;
    background: red;
}
#page2 h1 {
    font-size: 28vw;
    white-space: pre;
    text-transform: uppercase;
}